<h1>Students#status</h1>
<p>Find me in app/views/students/status.html.erb</p>
<table>
   <tr>
     <td class="student_edit">
        <p><b>Students email:</b></p>
     </td>
     <td>
         <p><%= editing_student.email %></p>
     </td>
   </tr>
   <tr>
     <td>
        <p><b>Students starting date:</b></p>
     </td>
     <td>
         <p><%= editing_student.startingdate %></p>
     </td>
   </tr>
   <tr>
     <td>
        <p><b>Students favorite genre:</b></p>
     </td>
     <td>
         <p><%= editing_student.favoritegenre %></p>
     </td>
   </tr>
   <tr>
     <td>
        <p><b>Students interests:</b></p>
     </td>
     <td>
         <p><%= editing_student.interests %></p>
     </td>
   </tr>
   <tr>
     <td>
        <p><b>Students current level:</b></p>
     </td>
     <td>
        <%= editing_student.currentlevel %>
     </td>
   </tr>
   <tr>
     <td>
        <p><b>Students current lesson:</b></p>
     </td>
     <td>
        <%= editing_student.currentlesson %>
     </td>
   </tr>
</table>

